/*   @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap'); */
* {
  margin:0;
  padding: 0;
   /*box-sizing: border-box; */
  font-family: 'Inter'; /*  font-family: "Poppins", sans-serif; */
}
.container {
  width: 100%;
  height: 100%;
  background-color: linear-gradient(180deg, #43FE3F 0%, rgba(243, 243, 243, 0) 100%);
}
.banner-image {
  background-image: url("./promo.jpg");
  background-color: #cccccc;
  height: 240px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner-text {
  display: inline-block;
  text-align: center;
  justify-content: flex-end;
  position: absolute;
  padding: 24px;
  top: 60%;
  left: 75%;
  transform: translate(-80%, -40%);
  color: red;
}
.banner-text h1 {
  text-align: justify;
  letter-spacing: 10px;
  font-weight: bold;
  font-size: 10px;
}
.banner-text h3 {
  text-align: justify;
  margin-left: 5px;
  font-size: 40px;
}
#btn {
  width: 100px;
  height: 35px;
  margin-right: auto;
  font-size: medium;
  font-weight: bold;
  background-color: rgb(155, 226, 4);
  letter-spacing: 3px;
  color: red;
  border-radius: 20px;
  border: 2px solid red;
  cursor: pointer;
}
