@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

body {
  /*display: flex;
  justify-content: center;
  align-items: center; */
  min-height: 100vh;
  background: #E7F7CE; url('img.jpg') no-repeat; */
} /* background-size:cover; background-position:center; */

.header {
  display: inline-flex;
  position: fixed;
  justify-content: space-between;
  align-items: stretch;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px 16px; /* inner space less top and bottom */;
  background-color: #A2F41B; /* change to transparent to appear after hover */
  margin-bottom: 4px;
}

.logo {
  display: flex; /* field around item fits around */
  position: sticky; /* stick while scrolling */
  font-size: 32px;
  color: #454545; brown
  text-decoration: none;
  text-transform: uppercase;
   /*font-size: 700;*/
  font-weight: 900;
  border-radius: 16px;
  border: 1px solid #A2F41B; /*  */
  box-shadow: inset 0px 8px 8px rgba(0, 0, 0, 0.25);
  text-shadow: 4px 4px #A2F41B;
  padding: 8px 16px; /* inner space less top and bottom */
  margin-left: 8px;
  margin-right: auto; /* to keep the logo to the left of the header */
}

.navbtn { /* icons field */
  display: flex; /* field around item fits around */
  position: sticky; /* stick while scrolling */
  margin-right: 8px;
  margin-left: auto; /* to keep the navbtn to the right of the header */
  padding: 8px auto; /* inner space less top and bottom */
  align-items: stretch;
  background-color: #A2F41B; /* limy green */
  border-radius: 16px;
  box-shadow: inset 0px 8px 8px rgba(0, 0, 0, 0.25);
}

.navbtn ul a { /* icons */
  font-size: 2em; /* large fonts */
  color: #454545;
  font-weight: 500; /* bolder fonts */
  text-decoration: none;
  padding: auto 24px; /* space between icons */
  margin: auto;
}


.navbar {
  display: inline-flex; /* to align 2 items in the search field */
  align-items: baseline; /* to make text align in all nav field items */
  padding: 8px 16px; /* inner space less top and bottom */
}

.navbar a {
  position: relative; /* relative to the header */
  line-height: 48px; /* to accommodate text */
  margin-left: 32px;
  margin-right: 32px;
  font-size: 2em; /* large fonts */
  color: #454545;
  font-weight: 500; /* bolder fonts */
  text-decoration: none;
}

.navbar a::before {
  content: '';
  position: absolute;
  top: 100%; /* changes the overscore to underscore from zero to 100% */
  left: 0;
  width: 0; /* set to zero to disappear - instead of h=100% - add transition */
  height: 2px; /* makes topbar reappear - instead of h=100% */
  background: #454545; /* #FFE5BE topbar text/anchors disappear when top=0 */
  transition: .3s;
}

.navbar a:hover::before {
  width: 100%;
}
 .navbar ul li {
   text-decoration: none; /*default;*/
   width: 32px;
   }


/* Media Query Breakpoint 1 at max container width width for desktop 1440px */
/* screen size between 912px-1120px*/
/* change the main axis to vertical to extend responsive display */

   /* Media Query Breakpoint 2 added width of 3 columns 2fr+3fr+2fr downscaled*/
   /* screen size between 640px-912px*/
  /*  @media screen and (max-width: 912px) previous stylesheet*/

   /* Media Query Breakpoint 4 */
   /* screen size between 520px-640px*/
   @media screen and (max-width: 640px) {
     header {
       max-width: auto;
       max-height: auto;
     }
     .logo {
       display: flex; /* field around item fits around */
       position: sticky; /* stick while scrolling */
       padding: 4px 8px; /* inner space less top and bottom */
       margin-left: 4px;
       margin-right: auto; /* to keep the logo to the left of the header */
     }
     .navbtn { /* icons field */
       display: flex; /* field around item fits around */
       position: sticky; /* stick while scrolling */
       margin-right: 4px;
       margin-left: auto; /* to keep the navbtn to the right of the header */
       padding: 4px 8px; /* inner space less top and bottom */
       align-items: stretch;
     }
     .navbar {
       display: inline-flex; /* to align 2 items in the search field */
       align-items: baseline; /* to make text align in all nav field items */
       padding: 4px 8px; /* inner space less top and bottom */
     }

     .navbar a {
       position: relative; /* relative to the header */
       line-height: 32px; /* to accommodate text */
       margin-left: 8px;
       margin-right: 8px;
       font-size: 1.5em; /* large fonts */
       color: #454545;
       font-weight: 300; /* bolder fonts */
       text-decoration: none;
     }
   }



  /* Media Query Breakpoint 5 additional to diminish oversized items */
   /* screen size between 432px-520px*/
    @media screen and (max-width: 520px) {
      header {
        max-width: auto;
        max-height: auto;
      }
      .logo {
        display: flex; /* field around item fits around */
        position: sticky; /* stick while scrolling */
        font-size: 32px;
        font-weight: 900;
        border-radius: 16px;
        border: 1px solid #A2F41B; /*  */
        box-shadow: inset 0px 8px 8px rgba(0, 0, 0, 0.25);
        text-shadow: 4px 4px #A2F41B;
      }


     /* Media Query Breakpoint 6 additional to diminish oversized items */
     /* breach of video frame and h1 */
     /* screen size between 360px-432px*/
     @media screen and (max-width: 432px) {
       .navbar {
         display: none;
       }
       .navbar .labels {
         display: none;
       }
     }


     /* Media Query Breakpoint 7 phone iPhone SE- 1 320px width*/
     /* screen size between 320px-360px*/
     /* diminish oversized items */
     /* breach of video frame and h1 */
     /* no query necessary
