@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');

body {
  margin: 32px;
  font-family: "Inter";
  background: #E7F7CE;
}
ul, li {
  color: #565A51;
  margin-left: 15px;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 17px;
  list-style-type: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  column-gap: 30px;
  background: linear-gradient(180deg, #F9F7D4 0%, rgba(217, 217, 217, 0) 50%);
  box-shadow: 8px 8px 8px rgba(0,0,0,0.5);
  border: 1px solid #FFE5BE;
  border-radius: 16px;
}
header {
  grid-column: span 3;
  border-bottom: 1px solid #FFE5BE;
  background: linear-gradient(180deg, #43FE3F 0%, rgba(243, 243, 243, 0) 100%);
  box-shadow: 8px 8px 8px rgba(0,0,0,0.5);
  border-radius: 16px;
  align-items: center;
  text-align: center;
  padding: 8px 16px;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #454545;
  text-shadow: 4px 4px #A2F41B;
}
nav {
  align-items: baseline;
  text-decoration: none; /*default;*/
  padding: 30px;
  border-right: 1px solid #FFE5BE;
  border-radius: 16px;
  background: linear-gradient(90deg, #43FE3F 0%, rgba(243, 243, 243, 0) 100%);
  box-shadow: 8px 8px 8px rgba(0,0,0,0.5);
}

nav ul li a {
  display: inherit;
  line-height: 64px;
  margin-left: 32px;
  font-size: 5em;
  color: #454545;
  border-right: 1px solid #FFE5BE;
  border-radius: 8px;
  padding: 4px;
  width: 80px;
}
nav ul li a:hover {
  color: lime;
  opacity: 0.25;
  transition: 1s;
}
nav .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px solid #FFE5BE;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #454545;
  color: #FFE5BE;
  text-align: center;
  border-radius: 8px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
article {
  align-items: center;
  padding: 24px;
  border-radius: 16px;
  margin-left: 8px;
  margin-right: 8px;
  border: 1px solid #FFE5BE;
  box-shadow: 8px 8px 8px rgba(0,0,0,0.5);
  background: linear-gradient(180deg, #43FE3F 0%, rgba(243, 243, 243, 0) 25%);
}
article h2 {
  max-width: 800px;
  color: #454545;
  font-style: normal;
  font-weight: 900;
  font-size: 3.5em;
  line-height: 16px;
  text-shadow: 4px 4px #A2F41B;
}
article > div {
  display: inline-flex;
  justify-content: space-around;
  margin-right: auto;
  padding 8px;
}
div .video {
  max-width: 90%;
  max-height: 90%;
  justify-content: space-around;
  margin-right: auto;
  margin-left: auto;
  padding: 16px;
}
article h3 {
  max-width: 800px;
  color: #454545;
  font-style: normal;
  font-weight: 900;
  font-size: 1.5em;
  line-height: 16px;
  text-shadow: 4px 4px #A2F41B;
}
article p {
  margin-top: 30px;
  line-height: 2em;
  color: #454545;
}
article img {
  max-width: 100%;
  max-height: 100%;
}
aside {
  padding: 30px;
  border-right: 1px solid #FFE5BE;
  border-radius: 16px;
  border: 1px solid #FFE5BE;
  background: linear-gradient(-90deg, #43FE3F 0%, rgba(243, 243, 243, 0) 100%);
}
aside h2 {
  max-width: 800px;
  color: #454545;
  font-style: normal;
  font-weight: 900;
  font-size: 3.5em;
  line-height: 16px;
  text-shadow: 4px 4px #A2F41B;
}
aside .card {
  grid-template-rows: 3;
  margin: 25px;
  max-width: 180px;
  max-height: 180px;
  padding: 8px 16px;
  color: #454545;
  border: 1px solid #FFE5BE;
  border-radius: 8px;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(243, 243, 243, 0) 100%);
  box-shadow: 8px 8px 8px rgba(0,0,0,0.5);
}
footer { /* global footer properties*/
  grid-column: span 3;
  display: flex; /* to make items adjust to the centre-screen */
  padding: 8px 0;
  border-radius: 16px;
  border: 1px solid #FFE5BE;
  background: linear-gradient(180deg, #43FE3F 0%, rgba(243, 243, 243, 0) 50%);
  box-shadow: 8px 8px 8px rgba(0,0,0,0.5);
}
.footercontainer {
  display: block; /* value block to create 2 rows for links and icons*/
  text-align: justify; /* to make lists align vertically */
  justify-content: space-around;
  width: auto;
  padding: 16px 24px;
  margin: auto;
}
.footnav { /* for footnav blocks to align horizontally*/
  display: inline-block;
 }
.footnav .links li { /* footnav link blocks to align horizontally*/
  list-style: none; /* to strip bullet points */
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  font-weight: 900;
  font-size: 14px;
  line-height: 1.6;
}
.footnav .links ul a { /* footnav quick icons to align horizontally*/
  list-style: none;
  text-decoration: none;
  font-size: 24px;
  max-width: 80px;
  margin: 0 8px;
  opacity; 0.75;
  transition: 1s;
  color: #3B5A49;
  padding: 0;
}

/* 'footnav' class ul li anchors hover over links*/
.footnav .links li:hover {
  color: lime;
  opacity: 0.25;
  transition: 1s;
}
.footnav .links li:hover a {
  color: lime;
  opacity: 0.25;
  transition: 1s;
}
footer hr {
  color: #3B5A49;
}

.footnav .quick { /* global footer social media properties*/
  display: center;
  justify-content: space-around;
  padding: 8px;
  color: #3B5A49;
  margin: 0 15px;
  transition: 0.5s;
}
.quick a { /* properties of social media anchor tags*/
  display: inline-block; /* how the social media icons are grouped & aligned*/
  text-decoration: none;
  text-align: center; /* center of page*/
  justify-content: center;
  font-size: 24px;
  color: #3B5A49;
  height: 40px;
  border-radius: 50%;
  margin: 10;
}
.quick a i{
  font-size: 2em;
  color: #454545;
  opacity: 0.9;
}
/* 'quick' class anchors hover over icons */
.quick a:hover i {
  color: lime;
  transition: 1s;
}
.col {
  display: inherit;
  margin-top: 16px;
}
.col p {
  text-align: center;
  font-size: 16px;
  color: #454545;  /* brown */

}

/* Media Query Breakpoint 1 at max container width width for desktop 1440px */
/* screen size between 912px-1120px*/
@media screen and (max-width: 1120px) {
  nav {
    grid-column: span 3; /* 3 columns for nav icons*/
    border-right: 0; /* right border removed */
    border-bottom: 1px solid #FFE5BE; /* add a minimal bottom border */
  }
  nav ul {
    display: inline-block; /* nav icons align horizontally */
    margin-right: 8px; /* spread icons 8px apart */
    margin-left: 8px;
  }
  header {
    font-size: 40px;
  }
  /*article {
    grid-column: span 2; /* downsizing equals 1fr + 3fr
  } */
  div .btns .button {
    font-size: 12px;
  }
  aside {
    padding: 16px; /* reduce card container padding */
  }
  footer {
    padding: 8px;
  }
  .footercontainer {
    border-right: 0; /* right border removed */
    border-bottom: 1px solid #FFE5BE; /* add a minimal bottom border */
    padding: 8px 8px 8px;
  }
  .footercontainer  .quick {
    margin-right: 24px;
  }
}

/* Media Query Breakpoint 2 added width of 3 columns 2fr+3fr+2fr downscaled*/
/* screen size between 640px-912px*/
@media screen and (max-width: 912px) {
  nav, article, aside {
    grid-column: span 3; /* all containers stack on top of each other */
  }
  aside {
    border-top: 1px solid #FFE5BE;
  }
  header {
    font-size: 32px; /* reduce font size */
  }
  article h2 {
    font-size: 2em; /* reduce font size  */
  }
  article h3 {
    font-size: 1em; /* reduce font size */
  }
  footer {
    border-right: 8px;
    padding-right: 32px;
  }
}
/* Media Query Breakpoint 3 tablet ipad mini 8.3 744px across*/
/* query no longer necessary */
